Repository yikyo/react-ghostwriter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

修正autofix之后未添加到git仓库的问题
  .lintstagedrc
  src/style.scss
Due: prettier --write, stylelint --fix

添加首页路由
  config/webpack.config.js
  package.json
  src/index.js
  src/routes/home/index.js
  src/routes/index.js
  yarn.lock
Due: prettier --write, eslint --fix

修改babel配置，添加基础文件
  .babelrc
  config/webpack.config.js
  package.json
  src/assets/scss/_color.scss
  src/constants/index.js
  src/containers/global-container/index.js
  src/containers/index.js
  src/helpers/fetch.js
  src/helpers/index.js
  src/routes/index.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

修改appcontainer名称
  package.json
  src/containers/app-container/index.js
  src/containers/global-container/index.js
  src/containers/index.js
  src/routes/index.js
Due: prettier --write, eslint --fix

添加loader
  config/webpack.config.js
  package.json
  yarn.lock
Due: none

添加基础样式
  package.json
  src/index.js
  src/style.scss
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

删除fetch
  src/helpers/fetch.js
  src/helpers/index.js
Due: prettier --write, eslint --fix

添加主题颜色
  src/assets/scss/_color.scss
Due: prettier --write, stylelint --fix

添加Layout组件
  .eslintrc
  src/components/footer/index.js
  src/components/footer/style.scss
  src/components/index.js
  src/components/layout/index.js
  src/components/layout/style.scss
  src/containers/app-container/index.js
  src/style.scss
Due: prettier --write, eslint --fix, stylelint --fix

添加font-awesome
  package.json
  src/components/footer/index.js
  yarn.lock
Due: prettier --write, eslint --fix

修改footer css
  src/components/footer/index.js
  src/components/footer/style.scss
Due: prettier --write, eslint --fix, stylelint --fix

修改footer样式
  src/components/footer/index.js
  src/components/footer/style.scss
Due: prettier --write, eslint --fix, stylelint --fix

添加header组件
  src/components/header/index.js
  src/components/header/style.scss
  src/components/layout/index.js
  src/components/layout/style.scss
  src/index.html
Due: prettier --write, eslint --fix, stylelint --fix

修改footer css
  src/components/footer/style.scss
Due: prettier --write, stylelint --fix

添加 historyApiFallback 支持
  config/webpack.config.js
Due: none

添加 date-fns
  package.json
  yarn.lock
Due: none

添加post-list页面
  src/components/index.js
  src/components/layout/index.js
  src/components/layout/style.scss
  src/components/post-list/index.js
  src/components/post-list/style.scss
  src/components/posts-item/index.js
  src/components/posts-item/style.scss
  src/routes/index.js
  src/routes/posts/index.js
Due: prettier --write, eslint --fix, stylelint --fix

添加分页组件
  src/components/index.js
  src/components/layout/index.js
  src/components/pagination/index.js
  src/components/pagination/style.scss
  src/routes/posts/index.js
Due: prettier --write, eslint --fix, stylelint --fix

重命名postlist参数
  src/components/post-list/index.js
  src/routes/posts/index.js
Due: prettier --write, eslint --fix

重构组件
  src/components/footer/index.js
  src/components/header/index.js
  src/components/layout/index.js
  src/components/post-list/index.js
  src/components/posts-item/index.js
  src/containers/app-container/index.js
  src/routes/index.js
  src/routes/posts/index.js
Due: prettier --write, eslint --fix

修改依赖包
  .babelrc
  .stylelintrc
  package.json
  yarn.lock
Due: none

修改footer不居底的问题
  src/components/header/style.scss
  src/components/layout/style.scss
  src/style.scss
  yarn.lock
Due: prettier --write, stylelint --fix

修改页面样式
  src/components/header/style.scss
  src/containers/app-container/style.scss
  src/style.scss
Due: prettier --write, stylelint --fix

添加posts路由
  src/components/post-list/index.tsx
  src/containers/app-container/index.tsx
  src/models/index.ts
  src/models/post.ts
  src/routes/index.tsx
  src/routes/posts/index.tsx
  src/services/index.ts
  src/services/post.ts
Due: none

删除logo相关代码
  src/components/header/index.tsx
  src/containers/app-container/index.tsx
  src/models/site.ts
  src/services/site.ts
Due: none

重构router
  package.json
  src/index.html
  src/routes/index.tsx
Due: none

完成列表功能
  package.json
  src/components/pagination/index.tsx
  src/constants/api.ts
  src/constants/value.ts
  src/models/post.ts
  src/routes/posts/index.tsx
  src/services/index.ts
  src/services/post.ts
  src/services/site.ts
  yarn.lock
Due: none

修改webpack publicPath
  config/webpack.config.js
Due: none

重构posts
  src/models/post.ts
  src/routes/posts/index.tsx
  src/services/post.ts
Due: none

重命名Post列表组件
  src/components/index.ts
  src/components/posts/index.tsx
  src/components/posts/style.scss
  src/components/posts/style.scss.d.ts
  src/routes/posts/index.tsx
Due: prettier --write, stylelint --fix

修正全局header样式影响
  src/components/header/index.tsx
  src/components/header/style.scss
  src/components/header/style.scss.d.ts
Due: prettier --write, stylelint --fix

添加post详情页面
  src/components/index.ts
  src/components/post/index.tsx
  src/components/post/style.scss
  src/components/post/style.scss.d.ts
  src/constants/api.ts
  src/models/post.ts
  src/routes/index.tsx
  src/routes/latest-post/index.tsx
  src/routes/post/index.tsx
  src/services/index.ts
  src/services/post.ts
Due: prettier --write, stylelint --fix

使用date、author属性
  src/assets/scss/_color.scss
  src/components/post/index.tsx
  src/constants/api.ts
Due: prettier --write, stylelint --fix

添加tags
  src/components/post/index.tsx
  src/components/post/style.scss
  src/components/post/style.scss.d.ts
  src/models/post.ts
  src/routes/post/index.tsx
  src/services/post.ts
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,json,css,scss}
  eslint --fix: any of: src/**/*.{js,jsx,json}
  stylelint --fix: any of: src/**/*.{css,scss}
